.singlePage {

	h1 {
		text-align: center;
		margin: 5rem 0 0 0;
	}



	.divider {
		text-align: center;

	}
}

.featured-image-container {
	height: 80vh;
	background-size: cover;
	background-position: center;
}
